//
// Set the floats && direction. this is the default for LTR languages
//

$default-float:       left  !default;
$opposite-float:      right !default;

$default-direction:   ltr   !default;
$opposite-direction:  ltr   !default;
